* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}

main {
    padding: 10%;
    margin-left: 30%;
}

#calculadora {
    width: 300px;
    height: 500px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background-color: #cecece;
    border-radius: 1rem;
}

#pantalla {
    grid-column: span 4;
    background: #202020;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2rem;
    border-radius: 1rem;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background: #ffffff;
    border: none;
    border-radius: 1rem;
}

#igual {
    grid-column: 4;
    grid-row: 3 / span 4;
    background: #657fff;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
